<div class="container max-w-7xl mx-auto px-4 py-16 md:py-24">
  <div class="relative pl-4 border-l-4 border-amber-400 mb-15">
    <h2 class="text-3xl md:text-4xl font-black tracking-tight text-slate-900 uppercase">
      all
      <span class="text-transparent bg-clip-text bg-linear-to-r from-amber-500 to-orange-300"
        >Products</span
      >
    </h2>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
    @if (!isLoading && filteredProducts.length > 0) {
      @for (item of filteredProducts; track item._id) {
        <app-product-card [product]="item"></app-product-card>
      }
    } @else if (isLoading) {
      <div class="col-span-full text-center py-10">
        <p class="text-slate-500 animate-pulse">Loading products, please wait...</p>
      </div>
    } @else {
      <div class="col-span-full text-center py-10">
        <p class="text-slate-500">No products found at the moment.</p>
      </div>
    }
  </div>
</div>
